<!DOCTYPE html>
<htm>
	<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="plantilla/template :: head">
	</head>


	<body class="body-rodado">


		<header th:replace="plantilla/template :: header"> </header>


		<!--Formulario-->
		<div class="container">
			<form th:action="@{/rodados/save}" th:object="${rodado}" method="post">
				<div class="form-group row">

					<section class="form-registrer">
						<input type="hidden" th:field="*{idRodado}">

						<p align:center> Formulario Alta De Rodado</p>
						<h4>Ingrese El dominio Del vehiculo</h4>
						<input class="controls" th:field="*{dominio}" type="text" name="dominio" id="dominio"placeholder="Ingrese El dominio Del vehiculo">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('dominio')}"th:errors="*{dominio}"></small>
                         
            

                        <div class="form-group row">
							<label class="col-md-4" for="vehiculo">Tipo de vehiculo: </label>
							<select align:center class="form-control form-control-sm col-md-6" th:field="*{vehiculo}"
							id="vehiculo">
							<option value="Auto">Auto</option> 
							<option value="Moto">Moto</option>
							<option value="Camion">Camion</option>
							<option value="Utilitario">Utilitario</option>
							</select>
							<small class="form-text text-danger" th:if="${#fields.hasErrors('vehiculo')}"th:errors="*{vehiculo}"></small>

						</div>
                        

                            
                        <input class="botons" type="submit" th:href="@{/index}" role="button" value="Registrar" >
                        <a class="botons btn btn-primary btn-sm"  style="text-decoration:none" th:href="@{/index}">Cancelar</a>



                    </section>

                </div>


            </form>
        </div>

        <!--/Formulario-->


        <footer th:replace="plantilla/template :: footer"> </footer>


    </body>

    </html>