<!DOCTYPE html>
<htm>
    <html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="plantilla/template :: head">
    </head>


    <body class="body-form">


        <header th:replace="plantilla/template :: header"> </header>


        <!--Formulario-->
        <div class="container">
            <form th:action="@{/views/roles/save}" th:object="${role}" method="post">
                <div class="form-group row">

                    <section class="form-registrer">
                        <h4>Formulario Registro Permiso Diario</h4>
                        <h4>Datos de la persona</h4>
                        <!--Nombre-->
                        <input class="controls" type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre">
                        <!--Apellido-->
                        <input class="controls" type="text" name="apellido" id="apellido"
                            placeholder="Ingrese su apellido">
                        <!--Dni-->
                        <input class="controls" type="text" name="dni" id="dni" placeholder="Ingrese su dni">
                        <h4>Solicitud de permiso Diario</h4>
                        <!-- la Fecha Actual se setea por parametro-->

                        <!--Lugar-->
                        <input class="controls" type="text" name="lugar" id="lugar"
                            placeholder="Ingrese el lugar de destino">
                        <!--Codigopostal-->
                        <input class="controls" type="text" name="codigopostal" id="codigopostal"
                            placeholder="Ingrese el codigo postal del destino">

                        <h4>Motivo de viaje</h4>
                        <!--Motivo De viaje-->
                        <input class="controls" type="text" name="motivo" id="motivo"
                            placeholder="Ingrese su motivo de viaje">
                        <input class="botons" type="submit" value="Registrar">
                        <a class="botons btn btn-primary btn-sm" th:href="@{/seleccionPermiso}">Cancelar</a>



                    </section>

                </div>
                <!-- <div class="card-footer bg-dark">
                    <input type="submit" class="btn btn-primary btn-sm" value="Guardar" />
                    <a class="btn btn-primary btn-sm" th:href="@{/home}" role="button">Cancelar</a>
                </div> -->


            </form>
        </div>

        <!--/Formulario-->


        <footer th:replace="plantilla/template :: footer"> </footer>


    </body>

    </html>