<!DOCTYPE html>
<htm>
    <html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="plantilla/template :: head">
    </head>


    <body class="body-form">


        <header th:replace="plantilla/template :: header"> </header>


        <!--Formulario-->
        <div class="container">
            <form th:action="@{/views/roles/save}" th:object="${role}" method="post">
                <div class="form-group row">

                    <section class="form-registrer">
                        <p align:center> Formulario Registro Permiso Periodo</p>
                        <h4>Datos de la persona</h4>
                        <!--Nombre-->
                        <input class="controls" type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre">
                        <!--Apellido-->
                        <input class="controls" type="text" name="apellido" id="apellido"
                            placeholder="Ingrese su apellido">
                        <!--Fecha Hasta-->
                        <input class="controls" type="text" name="desdeHasta" id="desdeHasta"
                            placeholder="Ingrese su dni">

                        <h4>Solicitud de permiso Periodo</h4>
                        <!--Cantidad de dias, la Fecha Actual se setea por parametro-->
                        <input class="controls" type="text" name="cantDias" id="cantDias"
                            placeholder="Cantidad de Dias">

                        <!-- vacaciones -->
                        <h4>Vacaciones</h4>
                        <input type="checkbox" id="switch" name="vacaciones" > 
                        <label for="switch" class="lbl"></label>

                        <h4>Lugar Solicitado</h4>
                        <!--Lugar-->
                        <input class="controls" type="text" name="lugar" id="lugar"
                            placeholder="Ingrese el lugar de destino">
                        <!--Codigo Postal-->
                        <input class="controls" type="text" name="codigopostal" id="codigopostal"
                            placeholder="Ingrese el codigo postal">

                        <!--link a pagina para saber codigo postal-->
                        <h6 align:right>
                            <a href="https://www6.oca.com.ar/BuscadorCP/" target="_blank" style="color:#5F9EA0;">No sé
                                mi código postal</a>
                        </h6>

                        <h4>Rodado</h4>
                        <!--Dominio-->
                        <input class="controls" type="text" name="dominio" id="dominio"
                            placeholder="Ingrese el Domino 'Patente' del vehiculo ">
                        <!--vehiculo-->
                        <input class="controls" type="text" name="vehiculo" id="vehiculo"
                            placeholder="Ingrese el tipo de vehiculo">


                        <input class="botons" type="submit" value="Registrar">
                        <a class="botons btn btn-primary btn-sm" th:href="@{/seleccionPermiso}">Cancelar</a>



                    </section>

                </div>
                <!-- <div class="card-footer bg-dark">
                    <input type="submit" class="btn btn-primary btn-sm" value="Guardar" />
                    <a class="btn btn-primary btn-sm" th:href="@{/home}" role="button">Cancelar</a>
                </div> -->


            </form>
        </div>

        <!--/Formulario-->


        <footer th:replace="plantilla/template :: footer"> </footer>


    </body>

    </html>