* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.body-form {

    background-image: url('../images/fondo.jpg');

}

.form-registrer {

    width: 500px;
    background: #530303c0;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000000;


}

.form-registrer h4 {
    font-size: 17px;
    margin-top: 1px;
    padding: 3px;

}

.controls {
    width: 100%;
    background: #570f0f;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    font-family: 'calibri';
    font-size: 18px;
    box-shadow: 7px 1px 37px #000000;
    color: white;
}

.form-registrer p {
    height: 30px;
    text-align: center;
    font-size: 18px;

}

.form-registrer a {
    color: white;
    text-decoration: none;


}

.form-registrer a:hover {
    color: white;
    text-decoration: underline;
}

.form-registrer .botons {
    width: 100%;
    background: #5f0000;
    border: none;
    padding: 12px;
    color: white;
    margin: 10px 0;
    font-size: 16px;
    box-shadow: 7px 1px 37px #000000;
}


.form-registrer .btn-group {
    width: 100%;
    background: #5f0000;
    border: none;
    padding: 5px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    box-shadow: 7px 1px 37px #000000;

}

.lbl {
    display: inline-block;
    width: 65px;
    height: 33px;
    background: #979797;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    transition: .3s;

}

.lbl::after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background: #eee;
    border-radius: 100px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: .3s;
}

#switch:checked+.lbl::after {
    left: 36px;
    background: #01e239;
}
#switch:checked+.lbl {
    background: rgb(43, 129, 3);
}
#switch{
    display: none;
}