<!DOCTYPE html>
<htm>
    <html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="plantilla/template :: head">
    </head>



    <body class="body-buscar">


        <header th:replace="plantilla/template :: header"> </header>

        <section class="form-registrer2">
     
  
                <h4 class="text-center mb-4">
                    Buscar Permiso Diario
                </h4>
          
            <form class="text-center mb-4" th:action="@{/buscar/permiso/}">
                <input type="text" name="dni" id="dni" size="50" th:value="${dni}" required class="src" role="button"
                    placeholder="Buscar Ingrese Dni" />
                <input class="botons btn btn-primary btn-sm" type="submit" style="text-decoration:none"></input>
                <a class="botons btn btn-primary btn-sm" style="text-decoration:none"
                    th:href="@{/permiso/}">Cancelar</a>
            </form>
      
        </section>

        <div class="container mt-5">
            <div class="row justify-content-center">

                <table class="table table-dark table-hover">


                    <thead>
                        <tr>
                            <!--th scope="col">Nombre</th-->
                            <th scope="col">Apellido</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Dni</th>
                            <th scope="col">Fecha Emision</th>
                            <th scope="col">Motivo</th>
                            <th scope="col">Lugar</th>
                            <th scope="col">Codigo Postal</th>

                        </tr>
                    </thead>
                    <tbody>
                        <!-- cambiar listProducts por el que corresponda -->
                        <tr th:each="cl:${listProducts}">
                            <td th:text="${cl.pedido.apellido}"></td>
                            <td th:text="${cl.pedido.nombre}"></td>
                            <td th:text="${cl.pedido.dni}"></td>
                            <td th:text="${cl.fecha}"></td>
                            <td th:text="${cl.motivo}"></td>
                            <td th:text="${cl.desdeHasta[0].lugar}"></td>
                            <td th:text="${cl.desdeHasta[0].codigoPostal}"></td>


                            <!-- <tr th:each="cl2:${cl.desdeHasta}">
                            <td th:text="${cl2.lugar}"></td>
                            <td th:text="${cl.desdeHasta.codigoPostal}"></td>  -->

                        </tr>

                    </tbody>

                </table>


            </div>

        </div>

        <footer th:replace="plantilla/template :: footer"> </footer>




    </body>

    </html>